[package]
name = "quary-databases"
version = "0.0.112"
edition = "2021"
rust-version = "1.77.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yup-oauth2 = { version = "8", default-features = false }
quary-core = { path = "../core" }
quary_proto = { path = "../../proto/gen/rust" }
tokio = { version = "1", features = ["full"] }
sqlx = { version = "0.7", features = ["runtime-tokio-rustls", "sqlite", "postgres", "chrono", "bigdecimal"] }
async-trait = "0.1"
gcp-bigquery-client = "0.18"
prost = "0.12"
google-cloud-auth = { version = "0.14", default-features = false, features = ["external-account", "rustls-tls"] }
snowflake-api = { path = "../snowflake-api" }
arrow-array = "51"
duckdb = { version = "0.10", features = ["bundled"] }
regex = "1.10.4"
chrono = "0.4"

[dev-dependencies]
assert_cmd = "2"
tempfile = "3"
testcontainers = "0.15.0"
testcontainers-modules = { version = "0.3.4", features = ["postgres", "minio"] }
