[package]
name = "sqlinference"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]

[dependencies]
sqlparser = { default-features = false, version = "0.49" }
