name: pr-checks
on:
  merge_group:
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true
env:
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true
  CARGO_INCREMENTAL: 0
jobs:
  github-actions-ratchet-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # ratchet:actions/setup-go@v4
      - name: Install ratchet
        run: go install github.com/sethvargo/ratchet@latest
      - name: Ratchet Check
        run: make ratchet_check
  commitlint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v3
        with:
          fetch-depth: '0'
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # ratchet:actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # ratchet:pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 9
          run_install: false
      - name: Install dependencies
        run: pnpm install --filter "@quary/root" --frozen-lockfile
      - name: Validate all commits from PR
        run: pnpx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
  node-check:
    runs-on: ubicloud-standard-16
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v3
        with:
          submodules: 'true'
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # ratchet:actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: wasm32-unknown-unknown
          override: true
          profile: minimal
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # ratchet:Swatinem/rust-cache@v2
      - uses: taiki-e/cache-cargo-install-action@caa6f48d18d42462f9c30df89e2b4f71a42b7c2c # ratchet:taiki-e/cache-cargo-install-action@v1
        with:
          tool: wasm-bindgen-cli
      - name: Build rust wasm
        run: make rust_build_wasm
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # ratchet:actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # ratchet:pnpm/action-setup@v2
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install -r --frozen-lockfile
      - name: Run CI tests
        run: pnpm run ci
  bash-scripts-check:
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_SKIP_DOWNLOAD_BROWSER: true
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v3
        # Comes from https://github.com/ludeeus/action-shellcheck/blob/master/action.yaml
      - name: Download shellcheck
        run: sudo apt-get install -y shellcheck
      - name: Check shells
        run: make bash_lint
  rust-test:
    name: Rust Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v4
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # ratchet:actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # ratchet:Swatinem/rust-cache@v2
      - uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: test
  rust-build:
    name: Rust Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v4
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # ratchet:actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt, clippy
      - name: Install wasm target
        run: rustup target add wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # ratchet:Swatinem/rust-cache@v2
      - uses: taiki-e/cache-cargo-install-action@caa6f48d18d42462f9c30df89e2b4f71a42b7c2c # ratchet:taiki-e/cache-cargo-install-action@v1
        with:
          tool: wasm-bindgen-cli
      - name: Check CI scripts
        run: make rust_build
  rust-build-windows:
    name: Rust Build Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v4
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # ratchet:actions-rs/toolchain@v1
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # ratchet:Swatinem/rust-cache@v2
      - name: Check CI scripts
        run: cargo build
  sqruff-template:
    name: Lint template with sqruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v4
      - uses: quarylabs/install-sqruff-cli-action@7805329baf7cf340e849e254cddc782f08f2d36c # ratchet:quarylabs/install-sqruff-cli-action@main
      - name: Lint template
        run: make sql_lint_template
  check-versions-match:
    name: Check versions match
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v3
      - name: Install jq
        run: sudo apt-get install jq
      - run: make check_versions_match
  prettier-yaml-lint:
    name: Prettier YAML Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # ratchet:actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # ratchet:pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 9
          run_install: false
      - run: pnpm install --filter "@quary/root" --frozen-lockfile
      - run: make prettier_lint
