name: Release VSIX Workflow
on:
  release:
    types: [published]
env:
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true
  CARGO_INCREMENTAL: 0
jobs:
  check-versions-match:
    name: Check versions match
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install jq
        run: sudo apt-get install jq
      - run: make check_versions_match
  upload-vsix-release:
    name: Upload VSIX Release
    runs-on: ubuntu-latest
    needs:
      - check-versions-match
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v3
        with:
          submodules: 'true'
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # ratchet:actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true
          profile: minimal
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # ratchet:Swatinem/rust-cache@v2
      - run: cargo install wasm-bindgen-cli
      - name: Build rust wasm
        run: make rust_build_wasm
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # ratchet:pnpm/action-setup@v2
        with:
          version: 10
      - name: Install dependencies
        run: pnpm install -r --frozen-lockfile
      - name: Build extension
        run: pnpm run build_extension
      - name: Upload Release Asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # ratchet:softprops/action-gh-release@v2.5.0
        with:
          files: ./js/packages/quary-extension/quary-*.vsix
      - run: pnpx vsce publish --packagePath $(find ./js/packages/quary-extension/quary-*.vsix)
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
